<body>

<h1 id="logo">YesterdaysGames.net</h1>
<h4 id="tagline">NBA Highlights for February 19 2012</h4>

<iframe class="shadow" height="390" src="/iframe/" width="620" name='video' scrolling="no" id="frame"></iframe>

<DIV id="wrapper">

<UL id="games">
<% @doc.css('.GameLine').each do |link| %>

	<!-- Crawl the 3 variables we need -->
	<% videourl = link.css(".nbaVideoWrapper a").first %>
	<% team1 = link.css('div.nbaModTopTeamName').first %>
	<% team2 = link.css('div.nbaModTopTeamName').last %>

	<!--- Output the HTML -->
	<LI><a class="shadow" href="http://www.nba.com/<%= videourl['href'] %>" target="iframedvideo">
		<%= team1.content %> <SPAN>vs. </SPAN><%= team2.content %>
	</a></LI>

<% end %>
</UL>

<BR class="clear">

<P class="footer">This site was created by <a href="http://www.stevebenjamins.com/">Steve Benjamins</a> after he was frustrated with how<BR> tedious watching highlights on NBA.com is. #FirstWorldProblems</p>

</DIV>
</BODY>